/*this is applicable for all pages, uses the same tag to play music*/
#music-btn{
    color: white;
    padding: 10px;
    border-radius: 30px;
}

/*play music hovering animation*/
#music-btn:hover{
    background-color: black;
    transition: 1s;
    cursor: pointer;
}
/*Start of index html*/
/*A container to hold entire code, this changes the background for entire screen*/
.indexMainwrapper{
    background-image: url(../Picture/bg-orangeyellow.jpg);
    background-size: cover;
}
/*Container for nav bar across website, consistent*/
.main-screenpg header {
    font-family: 'Lato', sans-serif;
    overflow:auto; /* clip the content or add scrollbars if cant fit*/ 
}

/*Screen logo at the nav bar, universal for all pages*/
.main-screenpg header .logo {
    width:30%;
    float:left;
    padding-left: 2%;
    padding-bottom: 15px;
    padding-top: 15px;
}

/*Configure the size of img of logo*/
.logo img{
    height:70px;
    width:140px;
}
/*nav bar on top of the web page*/
.main-screenpg header nav{
    text-align: right; /*asside nav bar to the right*/
    margin-right: 2%;
    margin-top: 30px;
    width:66%;
    float: left; /*stick to left, move to previous column if there is space*/
}

/*styling of the individual button of nav*/
.main-screenpg header nav a{
    color:rgb(255, 255, 255);
    text-decoration: none;
    margin-left:7%;
    margin-top: 2%;
    font-size: 18px;
    padding: 12px 20px; /*top-bot, l-r*/
    border-radius: 25px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}
/*creates the effect of hover*/
.main-screenpg header nav a:hover{
    background-color: rgb(0, 0, 0);
    transition: 1s;
}
/*those page with this id will have the button as black, customised in html*/
.main-screenpg header nav #currentpg{
    background-color: rgb(0, 0, 0);

}

/*whole container after the header*/
.main-screenpg .game-info-container{
    width: 100%;
    height: 100vh;
}

/*loading animation for index*/
#loading-animation-index{
    /* Adjust overall appearance and positioning here */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /*move both horizontally and vertically,*/
    display: none;
    z-index: 1; /*shown at the front*/
}

/*left align of the container*/
.main-screenpg .game-intro-left{
    float: left;
    width: 63%;
    padding-left: 2%;
    height: 96vh;
}

/*emoji charades image as main cover*/
.main-screenpg .game-intro-left img{
    width:62%;
    height: 200px;
}

/*placement of the emoji at index.html*/
.main-screenpg .game-intro-left .lottiemainpg{
    display: inline-block; /*align on the same line with img*/
    position: relative; 
    top: 90px /*allows it to be placed from a top distance with relative*/
}

/*div styling for short para of game introduction*/
.main-screenpg .game-intro-left .game-intro-text{
    margin-top: 20px;
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    font-weight: bold;
    word-spacing: 2px;
    color:white;
}

/*Play now button styling*/
.main-screenpg .game-intro-left button{
    padding: 14px 20px; /*top-bot, l-r*/
    width: 30%;
    margin: 5% 0;
    border: 1px solid #202020;
    border-radius: 25px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    background-color: white;
    color: black;
    font-size: 18px;
}

/*Play now button hovering effect*/
.main-screenpg .game-intro-left button:hover{
    transition: 1s;
    color: white;
    background-color: black;
}

/*lightbulb background pic*/
.main-screenpg .game-info-container .game-intro-right{
    float: left;
    width: 35%; /*left-align and intro-right will make up to about ~100%, full width*/
    background-image: url(../Picture/emoji-lightbulb-removebg-preview.png);
    background-size: cover;
    height: 96vh;
}

/*this section contains the form to get username confirmation, hidden at first*/
.main-screenpg #enter-game-submission{
    float: left;
    padding-left: 2%;
    width: 100%;
    margin-top: 0;
}

/*selecting go before proceeding to the main game*/
.main-screenpg #enter-game-submission .enteruserform input[type=text], select{
    width: 50%;
    padding: 10px 12px; /*this adds spaces within the textbox*/
    margin-left: 20px;
    display: inline-block; /*able to apply width and padding to this input box*/
    border: 1px solid #101010;
    border-radius: 4px;
    box-sizing: border-box; /*include padding and border*/
}

/*styling of choosing the category*/
.main-screenpg #enter-game-submission .enteruserform select{
    margin-left: 11%; /*align with username form */
}

/*selecting go button*/
.main-screenpg #enter-game-submission .enteruserform #submit-givenUser{
    width: 100px;
    background-color: rgb(15, 175, 0);
    color: rgb(255, 255, 255);
    font-weight: bolder;
    padding: 10px 12px;
    border: 1px solid green;
    display: inline-block;
    margin-left: 50px;
    margin-top: 10px;
    border-radius: 4px;
    cursor: pointer; /*creates the animation when user cursor lands on this button*/
}
/*Hovering for button go*/
.main-screenpg #enter-game-submission .enteruserform #submit-givenUser:hover{
    background-color: green;
}


/*START OF INGAME.HTML CSS*/
.inGameMainwrapper{ /*Same background pic but for ingame.html*/
    background-image: url(../Picture/bg-orangeyellow.jpg);
    background-size: cover;
}

/*This sets the display size, the full screen of the computer*/
.main-screenpg .ingame-screen {
    width: 100%;
    height: 100vh;
    margin-top: 10px;
    display: flex;
}

/*loading animation for ingame*/
#loading-animation-ingame{
    /* Adjust overall appearance and positioning here */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /*move both horizontally and vertically,*/
    display: none;
    z-index: 1; /*shown at the front*/
}

/*party animation for ingame, for correct ans. hidden at default*/
#celebrate-correct-ans{
    /* Adjust overall appearance and positioning here */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /*move both horizontally and vertically,*/
    display: none;
    z-index: 1; /*shown at the front*/
}

/*party animation for ingame, for wrong ans. hidden at default*/
#wrong-ans{
    /* Adjust overall appearance and positioning here */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /*move both horizontally and vertically,*/
    display: none;
    z-index: 1; /*shown at the front*/
}

/*left container for the display*/
.main-screenpg .ingame-screen .ingame-left{
    float: left;
    width: 63%;
    padding-left: 2%;
    height: 100vh;
    padding-top: 10px; /*spacing from top to centralise*/
}

/*styling of the black rectangle container that holds the timer*/
.main-screenpg .ingame-screen .ingame-left #timerid{
    padding: 10px 12px; /*top-bot, left-right */
    background-color: black;
    color: white;
    width: 140px;
    border-radius: 10px;
    border: 2px solid white;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 20px; 
}

/*the question container, acting as a screen for display*/
.main-screenpg .ingame-screen .ingame-left .question-display {
    margin-top: 10px;
    height: 450px;
    background-color: white;
    width: 100%;
    border: 2.5px solid black;
    border-radius: 10px;
    display: flex; 
    justify-content: center; /*question img is placed at the center*/
    align-items: center;
}

/*the form container styling*/
.main-screenpg .ingame-screen .ingame-left #enter-game-answer .enter-ans-form {
    float: left;
    padding-left: 2%;
    width: 100%;
    margin-top: 0;
}

/*styling of textboc for user to type answer*/
.main-screenpg .ingame-screen .ingame-left #enter-game-answer .enter-ans-form input[type=text], select{
    width: 40%;
    margin-top: 8px;
    padding: 10px 12px; /*this adds spaces within the textbox*/
    display: inline-block; /*able to apply width and padding to this input box*/
    border: 1px solid #000000;
    border-radius: 4px;
    box-sizing: border-box; /*include padding and border*/
}

/*styling of submit ans button*/
.main-screenpg .ingame-screen .ingame-left #enter-game-answer .enter-ans-form .submit-answer{
    width: 95px;
    background-color: rgb(15, 175, 0);
    color: rgb(255, 255, 255);
    font-weight: bolder;
    padding: 10px 12px;
    border: 3px solid green;
    display: inline-block;
    margin-left: 30px; /*spacing from the input textbox*/
    margin-top: 10px;
    border-radius: 4px;
    cursor: pointer; 
}

.main-screenpg .ingame-screen .ingame-left #enter-game-answer .enter-ans-form .submit-answer:hover {
    background-color: green;
}

/*right container for the display*/
.main-screenpg .ingame-screen .ingame-right{
    float: left;
    width: 35%;
    padding-left: 2%;
    height: 100vh;
}

/*sub container holding the progress bar, ads*/
.main-screenpg .ingame-screen .ingame-right .right-banner{
    padding-left: 10px;
    padding-right: 10px;
    height: 90vh;
}

/*the div container where it holds the progress and accordion*/
.main-screenpg .ingame-screen .ingame-right .right-banner .game-features{
    width: 100%;
    border-radius: 10px;
    padding: 8px 10px;
    background-color: rgb(0, 120, 248);
    border: 3px solid white;
}

/*progress styling*/
.main-screenpg .ingame-screen .ingame-right .right-banner .game-features .status{
    margin-top: 5px;
    margin-left: 5px;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

/*the styling of button to click for dropdown of hint*/
.main-screenpg .ingame-screen .ingame-right .right-banner .game-features .hint-button{
    width: 100%;
    padding: 10px 12px;
    border-radius: 5px;
    margin-top: 5px;
    text-align: center;
    font-weight: bold;
    color: white;
    background-color: rgb(255, 140, 17);
    border: 2px solid white;
    cursor: pointer;
}

/*the style of text inside the dropdown*/
.main-screenpg .ingame-screen .ingame-right .right-banner .game-features #Demo1{
    color: white;
    font-weight: bold;
}

/*lottie advertisement animation*/
.main-screenpg .ingame-screen .ingame-right .right-banner #advertisement{
    margin-top: 5px;
    color:white;
    font-weight: 500;
}

/*start of Leaderboard html css*/

/*A container to hold entire code, this changes the background for entire screen*/
.leaderboardMainwrapper{
    background-image: url(../Picture/bg-orangeyellow.jpg);
    background-size: cover;
}

/*container to hold the overall elements on that page*/
.main-screenpg .leaderboardscreen {
    width: 100%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%; /*spacing below at bottom of the page*/
    padding-top: 1.5%;
}

/*flex container for the img and refresh button out there*/
.main-screenpg .leaderboardscreen .leaderboard-title{
    margin-bottom: 2%;
    display: flex;
    align-items: center;
    justify-content: space-between; /*to stick at each end*/
    flex-wrap: wrap;
}

/*refresh button css styling*/
.main-screenpg .leaderboardscreen .leaderboard-title #refresh {
    background-color: rgb(15, 175, 0);
    color: rgb(255, 255, 255);
    font-weight: bolder;
    padding: 12px 18px;
    border: 2px solid green;
    display: inline-block;
    font-family: 'Lato', sans-serif;
    border-radius: 10px;
    cursor: pointer; 
}

/*css for leaderboard top 5 img design*/
.main-screenpg .leaderboardscreen .leaderboard-title img {
    width: 450px;
    height: 40px;
}

/*container for each leaderboard holder*/
.main-screenpg .leaderboardscreen .leaderboard-container .leaderboard-list .leaderboard-item {
    width: 98%;
    margin-bottom: 1.5rem; /*adds the space between eachother*/
    border: 9px outset white;
    border-radius: 8px; /*curves effect just like our button above*/
    padding: 1.5rem;
    display: flex;
    align-items: center; 
    justify-content: space-between; /*equally spaced out from each end */
    color: white;
    font-size: 50px;
    font-weight: bold;
}

/*enlarge effect when hovering the container of the leaderboard*/
.main-screenpg .leaderboardscreen .leaderboard-container .leaderboard-list .leaderboard-item:hover {
    transform: scale(1.05); 
    transition: 0.5s;
}

/*Resizing img of the placing photo*/
.main-screenpg .leaderboardscreen .leaderboard-container .leaderboard-list .leaderboard-item .rank img{
    width: 65%;
    height: 65%;
}

/*css LOADING, applicable for leaderboard. z index to appear infront*/
#loading-animation-leaderboard {
    /* Adjust overall appearance and positioning here */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /*move both horizontally and vertically,*/
    display: none;
    z-index: 1; /*shown at the front*/
}
  
/*END RESULT HTML CSS*/
/*A container to hold entire code, this changes the background for entire screen*/
.endgameMainwrapper{
    background-image: url(../Picture/bg-orangeyellow.jpg);
    background-size: cover;
}

/*section below the header, setting to occupy entire length*/
.main-screenpg .endgame-container {
    width: 100%;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 2%; /*spacing below at bottom of the page*/
    padding-top: 1.5%;
    display: flex;
    align-items: center;
}

/*loading animation for endgame*/
#loading-animation-endgame{
    /* Adjust overall appearance and positioning here */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /*move both horizontally and vertically,*/
    display: none;
    z-index: 1; /*shown at the front*/
}

/*container where all the info is displayed inside*/
.main-screenpg .endgame-container .score-container{
    width: 98%;
    border: 15px outset rgb(242, 242, 242);
    border-radius: 12px; /*curves effect just like our button above*/
    padding: 1.5rem;
    background-color: rgb(0, 120, 248);
    /*rgb(65, 128, 255)*/
}

/*container to hold the 3 stars img, arranged at the center*/
.main-screenpg .endgame-container #star-rating{
    justify-content: center;
    width: 100%;
    position: relative;
    top:-40px; /*nearer to signboard*/
    display: none; /*hidden until the function is called to display*/
}

/* CSS for zoom-in effect of stars */
.zoom-in { /*this class is to be added to star rating later using js*/
    animation: zoomIn 0.5s forwards;
}

@keyframes zoomIn {
    from {
        transform: scale(0); 
        opacity: 0;
    }
    to {
        transform: scale(1); /*increase the size to default when gradually appearing*/
        opacity: 1;
    }
}

/*style of the individual star img*/
.main-screenpg .endgame-container #star-rating img{
    width: 85px;
    height: 85px;
}

/*the container with the img text showing emojifantastic, placed at the center*/
.main-screenpg .endgame-container .score-container .signboard{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 23%; /*the padding from both sides allow the img*/
    padding-right: 23%;
}

/*resizing emojifantastic text logo*/
.main-screenpg .endgame-container .score-container .signboard img{
    width: 100%;
    height: 150px;
}

/*arranging to place at the center, containing name and score*/
.main-screenpg .endgame-container .score-container .playerinfo{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-family: 'Honk', system-ui;
    font-size: 55px;
}

/*container for the two buttons tryagain and facebook*/
.main-screenpg .endgame-container .score-container .option-button{
    display: flex;
    justify-content: space-evenly; /*placed at equal distance within the column*/
    align-items: center;
    flex-wrap: wrap; /*if there is no space, push it down*/
    margin-top: 50px;
    margin-bottom: 70px;
}

/*styling of try again button*/
.main-screenpg .endgame-container .score-container .option-button #try-again{
    background-color: rgb(0, 135, 0);
    font-weight: bolder;
    padding: 12px 18px;
    border: 3px solid rgb(255, 255, 255);
    display: inline-block;
    font-family: 'Lato', sans-serif;
    border-radius: 10px;
    cursor: pointer; 
}

/*animation while cursor hovering*/
.main-screenpg .endgame-container .score-container .option-button #try-again:hover{
    background-color: rgb(0, 80, 0);
    transition: 0.6s;
    transform: scale(1.1);
}

/*styling of facebook button*/
.main-screenpg .endgame-container .score-container .option-button #facebook{
    background-color: rgb(10, 61, 215);
    color: rgb(255, 255, 255);
    font-weight: bolder;
    padding: 12px 18px;
    border: 3px solid rgb(255, 255, 255);
    display: inline-block;
    border-radius: 10px;
    cursor: pointer; 
}

.main-screenpg .endgame-container .score-container .option-button #facebook:hover{
    background-color: rgb(3, 3, 193);
    transition: 0.6s;
    transform: scale(1.1);
}


/*STYLE FOR RESPONSIVE*/
@media screen and (max-width:650px) {
    /*INDEX.HTML*/
    /*makes it occupy entire column and arrange at center for logo*/
    .main-screenpg header .logo {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    /*nav bar occupy entire column and spaces them out evenly*/
    .main-screenpg header nav{
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin: 0;
    }

    /*whole container after the header at index*/
    .main-screenpg .game-info-container{
        height: 115vh; /*to accomodate all the elements*/
    }

    /*only the left container is needed, lightbulb picture removed*/
    .main-screenpg .game-intro-left{
        width: 98%; /*full screen*/
        margin-top: 3%; /*SPACING ABOVE*/
    }

    /*the text img emoji charades*/
    .main-screenpg .game-intro-left img{
        width: 100%; /*only the left is wanted, expand full screen*/
    }

    /*no longer needs to be relative, emoji is being push down*/
    .main-screenpg .game-intro-left .lottiemainpg{ 
        position: static;
    }

    /*remove the lightbulb as not needed in mobile view*/
    .main-screenpg .game-info-container .game-intro-right{
        display: none;
    }
    /*end of INDEX HTML*/

    /*start of INGAME HTML*/
    /*This sets the display size, the full screen of the computer*/
    .main-screenpg .ingame-screen {
        width: 100%;
        height: 100%;
        margin-top: 10px;
        flex-direction: column; /*to move it down*/
    }
    /*left container for the display to become full*/
    .main-screenpg .ingame-screen .ingame-left{
        width: 100%;
    }
    /*right container for the display*/
    .main-screenpg .ingame-screen .ingame-right{
        width: 100%;
    }

    /*the container where question img is inserted into*/
    .main-screenpg .ingame-screen .ingame-left .question-display{
        justify-content: flex-start; /*push to the left corner, for visibility*/
    }
    /*the question image is much smaller to keep in container*/
    .main-screenpg .ingame-screen .ingame-left .question-display #qn-img{
        width: 5%;
        height: 3%;
    }

    /*leaderboard html*/
    .main-screenpg .leaderboardscreen .leaderboard-container .leaderboard-list .leaderboard-item {
        font-size: 30px; /*leaderboard text decrease size to fit in mobile*/
    }

    /*endgame html*/
    .main-screenpg .endgame-container .score-container .signboard{
        padding-left: 0;
        padding-right: 0;
    }
}
