/*A container to hold entire code, this changes the background for entire screen*/
.indexMainwrapper{
    background-image: url(../Picture/bg-orangeyellow.jpg);
    background-size: cover;
}
/*Container for nav bar across website*/
.main-screenpg header {
    font-family: 'Lato', sans-serif;
    overflow:auto; /* clip the content or add scrollbars if cant fit*/ 
}

/*Screen logo at the nav bar*/
.main-screenpg header .logo {
    width:30%;
    float:left;
    padding-left: 2%;
    padding-bottom: 15px;
    padding-top: 15px;
}

/*Configure the size of img of logo*/
.logo img{
    height:70px;
    width:140px;
}
/*nav bar on top of the web page*/
.main-screenpg header nav{
    text-align: right; /*asside nav bar to the right*/
    margin-right: 2%;
    margin-top: 30px;
    width:66%;
    float: left;
}

.main-screenpg header nav a{
    color:rgb(255, 255, 255);
    text-decoration: none;
    margin-left:7%;
    margin-top: 2%;
    font-size: 18px;
    padding: 12px 20px; /*top-bot, l-r*/
    border-radius: 25px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}
.main-screenpg header nav a:hover{
    background-color: rgb(0, 0, 0);
    transition: 1s;
}
.main-screenpg header nav #currentpg{
    background-color: rgb(0, 0, 0);

}
.main-screenpg .game-info-container{
    width: 100%;
    height: 96vh;
}
.main-screenpg .game-intro-left{
    float: left;
    width: 63%;
    padding-left: 2%;
    height: 96vh;
}

.main-screenpg .game-intro-left .lottiemainpg{
    display: inline-block; /*align on the same line with img*/
    position: relative; 
    top: 90px /*allows it to be placed from a top distance with relative*/
}

.main-screenpg .game-intro-left .game-intro-text{
    margin-top: 20px;
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    font-weight: bold;
    word-spacing: 2px;
    color:white;
}
/*Play now button styling*/
.main-screenpg .game-intro-left button{
    padding: 14px 20px; /*top-bot, l-r*/
    width: 30%;
    margin: 5% 0;
    border: 1px solid #202020;
    border-radius: 25px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    background-color: white;
    color: black;
    font-size: 18px;
}
/*Play now button hovering effect*/
.main-screenpg .game-intro-left button:hover{
    transition: 1s;
    color: white;
    background-color: black;
}
.main-screenpg .game-info-container .game-intro-right{
    float: left;
    width: 35%;
    background-image: url(../Picture/emoji-lightbulb-removebg-preview.png);
    background-size: cover;
    height: 96vh;
}

/*this section contains the form to get username confirmation, hidden at first*/
.main-screenpg #enter-game-submission{
    float: left;
    padding-left: 2%;
    width: 100%;
    margin-top: 0;
}
/*selecting go before proceeding to the main game*/
.main-screenpg #enter-game-submission .enteruserform input[type=text], select{
    width: 50%;
    padding: 10px 12px; /*this adds spaces within the textbox*/
    margin-left: 20px;
    display: inline-block; /*able to apply width and padding to this input box*/
    border: 1px solid #101010;
    border-radius: 4px;
    box-sizing: border-box;
}
.main-screenpg #enter-game-submission .enteruserform select{
    margin-left: 11%; /*align with username form */
}
/*selecting go button*/
.main-screenpg #enter-game-submission .enteruserform #submit-givenUser{
    width: 100px;
    background-color: rgb(15, 175, 0);
    color: rgb(255, 255, 255);
    font-weight: bolder;
    padding: 10px 12px;
    border: 1px solid green;
    display: inline-block;
    margin-left: 50px;
    margin-top: 10px;
    border-radius: 4px;
    cursor: pointer; 
}
/*Hovering for button go*/
.main-screenpg #enter-game-submission .enteruserform #submit-givenUser:hover{
    background-color: green;
}


/*START OF INGAME.HTML CSS*/
.inGameMainwrapper{ /*Same background pic but for ingame.html*/
    background-image: url(../Picture/bg-orangeyellow.jpg);
    background-size: cover;
}

/*This sets the display size, the full screen of the computer*/
.main-screenpg .ingame-screen {
    width: 100%;
    height: 95vh;
    margin-top: 10px;
}

/*left container for the display*/
.main-screenpg .ingame-screen .ingame-left{
    float: left;
    width: 63%;
    padding-left: 2%;
    height: 95vh;
    padding-top: 10px; /*spacing from top to centralise*/
}

.main-screenpg .ingame-screen .ingame-left #timerid{
    padding: 10px 12px; /*top-bot, left-right */
    background-color: black;
    color: white;
    border-radius: 10px;
    border: 2px solid white;
    width: 15%;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 20px; 
}

.main-screenpg .ingame-screen .ingame-left .question-display {
    margin-top: 10px;
    height: 450px;
    background-color: white;
    width: 100%;
    border: 2.5px solid black;
    border-radius: 10px;
}

.main-screenpg .ingame-screen .ingame-left #enter-game-answer .enter-ans-form {
    float: left;
    padding-left: 2%;
    width: 100%;
    margin-top: 0;
}

.main-screenpg .ingame-screen .ingame-left #enter-game-answer .enter-ans-form input[type=text], select{
    margin-top: 20px;
    width: 40%;
    padding: 10px 12px; /*this adds spaces within the textbox*/
    display: inline-block; /*able to apply width and padding to this input box*/
    border: 1px solid #000000;
    border-radius: 4px;
    box-sizing: border-box;
}

.main-screenpg .ingame-screen .ingame-left #enter-game-answer .enter-ans-form .submit-answer{
    width: 10%;
    background-color: rgb(15, 175, 0);
    color: rgb(255, 255, 255);
    font-weight: bolder;
    padding: 10px 12px;
    border: 1px solid green;
    display: inline-block;
    margin-left: 30px;
    margin-top: 10px;
    border-radius: 4px;
    cursor: pointer; 
}

.main-screenpg .ingame-screen .ingame-left #enter-game-answer .enter-ans-form .submit-answer:hover {
    background-color: green;
}

/*right container for the display*/
.main-screenpg .ingame-screen .ingame-right{
    float: left;
    width: 35%;
    padding-left: 2%;
    height: 95vh;
}

.main-screenpg .ingame-screen .ingame-right .right-banner{
    padding-left: 10px;
    padding-right: 10px;
    height: 90vh;
}

.main-screenpg .ingame-screen .ingame-right .right-banner .game-features{
    width: 100%;
    border-radius: 10px;
    padding: 8px 10px;
    background-color: rgb(0, 120, 248);
    border: 3px solid white;
}

.main-screenpg .ingame-screen .ingame-right .right-banner .game-features .status{
    margin-top: 5px;
    margin-left: 5px;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.main-screenpg .ingame-screen .ingame-right .right-banner .game-features .hint-button{
    width: 100%;
    padding: 10px 12px;
    border-radius: 5px;
    margin-top: 5px;
    text-align: center;
    font-weight: bold;
    color: white;
    background-color: rgb(255, 140, 17);
    border: 2px solid white;
    cursor: pointer;
}

.main-screenpg .ingame-screen .ingame-right .right-banner .game-features #Demo1{
    color: white;
    font-weight: bold;
}

.main-screenpg .ingame-screen .ingame-right .right-banner #advertisement{
    margin-top: 5px;
    color:white;
    font-weight: 500;
}

/*Leaderboard html css*/

/*A container to hold entire code, this changes the background for entire screen*/
.leaderboardMainwrapper{
    background-image: url(../Picture/bg-orangeyellow.jpg);
    background-size: cover;
}

.main-screenpg .leaderboardscreen {
    width: 100%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%; /*spacing below*/
    padding-top: 1.5%;
}

/*flex container for the img and refresh button out there*/
.main-screenpg .leaderboardscreen .leaderboard-title{
    margin-bottom: 2%;
    display: flex;
    align-items: center;
    justify-content: space-between; /*to stick at each end*/
    flex-wrap: wrap;
}

/*refresh button css*/
.main-screenpg .leaderboardscreen .leaderboard-title #refresh {
    background-color: rgb(15, 175, 0);
    color: rgb(255, 255, 255);
    font-weight: bolder;
    padding: 12px 18px;
    border: 2px solid green;
    display: inline-block;
    font-family: 'Lato', sans-serif;
    border-radius: 10px;
    cursor: pointer; 
}

/*css for leaderboard top 5 img*/
.main-screenpg .leaderboardscreen .leaderboard-title img {
    width: 450px;
    height: 40px;
}

/*container for each leaderboard holder*/
.main-screenpg .leaderboardscreen .leaderboard-container .leaderboard-list .leaderboard-item {
    width: 98%;
    margin-bottom: 1.5rem; /*adds the space between eachother*/
    border: 9px outset white;
    border-radius: 8px; /*curves effect just like our button above*/
    padding: 1.5rem;
    display: flex;
    align-items: center; 
    justify-content: space-between; /*equally spaced out from each end */
    color: white;
    font-size: 50px;
    font-weight: bold;
}

/*enlarge effect when hover*/
.main-screenpg .leaderboardscreen .leaderboard-container .leaderboard-list .leaderboard-item:hover {
    transform: scale(1.05); 
    transition: 0.5s;
}

/*Resizing img of the placing */
.main-screenpg .leaderboardscreen .leaderboard-container .leaderboard-list .leaderboard-item .rank img{
    width: 65%;
    height: 65%;
}

/*css LOADING, applicable for leaderboard. z index to appear infront*/
#loading-animation-leaderboard {
    /* Adjust overall appearance and positioning here */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    z-index: 1; /*shown at the front*/
  }
  
