.indexMainwrapper{
    background-image: url(./Picture/bg-orangeyellow.jpg);
    background-size: cover;
}
/*Container for nav bar across website*/
.main-screenpg header {
    font-family: 'Lato', sans-serif;
    overflow:auto; /* clip the content or add scrollbars if cant fit*/ 
}

/*Screen logo at the nav bar*/
.main-screenpg header .logo {
    width:30%;
    float:left;
    padding-left: 2%;
    padding-bottom: 15px;
    padding-top: 15px;
}

/*Configure the size of img of logo*/
.logo img{
    height:70px;
    width:140px;
}
/*nav bar on top of the web page*/
.main-screenpg header nav{
    text-align: right; /*asside nav bar to the right*/
    margin-right: 2%;
    margin-bottom: 20px;
    margin-top: 30px;
    width:66%;
    float: left;
}

.main-screenpg header nav a{
    color:rgb(255, 255, 255);
    text-decoration: none;
    margin-left:7%;
    margin-top: 2%;
    font-size: 18px;
    padding: 12px 20px; /*top-bot, l-r*/
    border-radius: 25px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}
.main-screenpg header nav a:hover{
    background-color: rgb(0, 0, 0);
    transition: 1s;
}
.main-screenpg header nav #currentpg{
    background-color: rgb(0, 0, 0);

}
.main-screenpg .game-info-container{
    width: 100%;
    height: 90vh;
}
.main-screenpg .game-intro-left{
    float: left;
    width: 60%;
    padding-left: 2%;
    height: 90vh;
    padding-top: 100px; /*spacing from top to centralise*/
}

.main-screenpg .game-intro-left .game-intro-text{
    margin-top: 20px;
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    font-weight: bold;
    word-spacing: 2px;
    color:white;
}

.main-screenpg .game-intro-left button{
    padding: 14px 20px; /*top-bot, l-r*/
    width: 30%;
    margin: 5% 0;
    border: 1px solid #202020;
    border-radius: 25px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    background-color: white;
    color: black;
    font-size: 18px;
}
.main-screenpg .game-intro-left button:hover{
    transition: 1s;
    color: white;
    background-color: black;
}
.main-screenpg .game-info-container .game-intro-right{
    float: left;
    width: 38%;
    background-image: url(./Picture/emoji-lightbulb-removebg-preview.png);
    background-size: cover;
    height: 90vh;
}

/*this section contains the form to get username confirmation, hidden at first*/
.main-screenpg #enter-game-submission{
    float: left;
    padding-left: 2%;
    width: 100%;
    opacity: 0;
}
/*selecting go before proceeding to the main game*/
.main-screenpg #enter-game-submission .enteruserform input[type=text], select{
    width: 50%;
    padding: 10px 12px; /*this adds spaces within the textbox*/
    margin-left: 20px;
    display: inline-block; /*able to apply width and padding to this input box*/
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/*Username input text before selecting go*/
.main-screenpg #enter-game-submission .enteruserform .submit-givenUser{
    width: 10%;
    background-color: rgb(15, 175, 0);
    color: rgb(255, 255, 255);
    font-weight: bolder;
    padding: 10px 12px;
    border: 1px solid green;
    display: inline-block;
    margin-left: 50px;
    margin-top: 10px;
    border-radius: 4px;
    cursor: pointer; 
}

.main-screenpg #enter-game-submission .enteruserform .submit-givenUser:hover{
    background-color: green;
}
